.chat-friend-content {
    height: 100%;
    .list-friends {
        .friend {
            display: flex;
            gap: 1rem;
            padding: 1rem 2rem;
            border-bottom: 1px solid #414141;
            cursor: pointer;
        }
    }
}