.list-friends {
    height: 100%;
    .friend-identification {
        display: flex;
        gap: 1rem;
    }
    .friend {
        display: flex;
        justify-content: space-between;
        padding: 1rem 2rem;
        border-bottom: 1px solid #414141;
    }
}

.friend-action {
    display: flex;
    gap: 1rem;
}