@use "../../../global" as *;
.aba {
    width: 25%;
    padding-block: 1rem;
    transition: .3s;
    text-align: center;
    cursor: pointer;
    transition: $transition-color;
    @include transitionColor;
}