@use "../../global" as *;
.bt {
    padding: 1rem 2rem;
    transition: $transition-color;
    &.primary {
        background-color: $primary-color;
        color: $text-secondary-color;
        &:hover {
            background-color: $primary-color-darkness;
        }
        &:active {
            background-color: $primary-color-lightness;
        }
    }
}