.menu-game-content {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 5rem;
    background-color: #222222;
    .menu-game-actions {
        display: flex;
        flex-direction: column;
        width: 100%;
        cursor: pointer;
        .action {
            padding: 1.5rem;
        }
    }
}