.app-game {
    .ranking-content {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        width: 30%;
        max-width: 18rem;
        top: 1rem;
        right: 1rem;
        background-color: rgba($color: #222222, $alpha: .75);
        z-index: 50;
        padding: 1rem;
        pointer-events: none;
        .info-list-ranking {
            font-size: 1.75rem;
            text-align: center;
        }
        .list-players-ranked {
            .player-ranked {
                display: flex;
                gap: .7rem;
                justify-content: space-between;
                font-size: 1.2rem;
                &.this {
                    .pr-placing {
                        color: yellow;
                    }
                    .pr-username {
                        color: yellow;
                    }
                }
                .pr-info {
                    display: flex;
                    gap: .5rem;
                    max-width: 80%;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    .pr-username {
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }
                .pr-points {
                    text-align: end;
                }
            }
        }
        .info-players-online {
            font-size: 1.35rem;
            text-align: center;
        }
    }
}