.app-game {
    position: relative;
    width: 100%;
    height: 100%;
    .canvas {
        position: absolute;
        left: 0;
        top: 0;
        background-color: #fff;
        z-index: 10;
        image-rendering: pixelated;
    }
    .panel-update-content {
        position: absolute;
        width: 40%;
        width: 25rem;
        left: 1rem;
        bottom: 1rem;
        z-index: 50;
        background-color: rgba($color: #222222, $alpha: .75);
        .power-ups-content {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            .power-up {
                position: relative;
                display: flex;
                .action-pu {
                    display: flex;
                    width: 100%;
                    text-align: center;
                    z-index: 60;
                    .pu-info {
                        width: 100%;
                    }
                    .upgrade-pu {
                        cursor: pointer;
                    }
                }
                .indicator-pu {
                    position: absolute;
                    display: flex;
                    width: 100%;
                    height: 100%;
                    z-index: 55;
                    .i-pu {
                        width: 100%;
                        height: 100%;
                        background: transparent;
                        &.active {
                            border: 1px solid #375a37;
                            background-color: #00b100;
                        }
                    }
                }
            }
        }
    }
}