:root {
    // Pallet colors
    --primary-color: #6b6b6b;
    --primary-color-darkness: darken( #6b6b6b, 50 * .15);
    --primary-color-lightness: lighten( #6b6b6b, 40);
    --secondary-color-lightness: #9845E6;
    --secondary-color-2: #9845E6;
    --tertiary-color: #7400E0;
    --quaternary-color: #401D61;
    --quintinary-color: #5A00AD;
    --neutro-color: #d6d6d6;
    --neutro-color-2: #868686;
    --vanta-black: #050505;
    --black-primary-color: #000;
    --black-secondary-color: #202020;
    --black-tertiary-color: #2e2e2e;
    --black-quaternary-color: #4e4e4e;
    --black-quintinary-color: #616161;
    // Backgrounds
    --bg-component-color: #fff;
    --bg-primary-color: #e4e4e4;
    --bg-secondary-color: #cecece;
    // Texts
    --text-primary-color: #000;
    --text-secondary-color: #fff;
    --text-tertiary-color: #d6d6d6;
    // Templates
    --t-border: 1px solid #868686;
    --t-border-radius: .5rem;
    // Transitions
    --transition-color: .3s;
}