.t_form,
input {
    letter-spacing: .1rem;
}

.t_form {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45rem;
    padding: 5rem;
    background-color: #555555;
}

.t_form-info {
    text-align: center;
}

.t_form-content-input-box {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.t_form-content-link {
    display: flex;
    justify-content: space-between;
}

.t_form-content-bt-actions {
    display: flex;
    justify-content: end;
    gap: 1rem;
}