.app-game {
    .player-info-content {
        position: absolute;
        width: 30%;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 60;
        color: #000;
        pointer-events: none;
        .player-header {
            display: flex;
            flex-direction: column;
            gap: .75rem;
            .user-identification {
                .level {
                    color: #fff;
                }
            }
            .bar-indicator-content {
                &.hp {
                    .indicator-content {
                        .indicator {
                            background-color: #09ff00;
                        }
                    }
                }
            }
        }
    }
}